<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> 

  <!-- Chats Tab -->
  <ion-tab title="Date Picker" icon-off="ion-calendar-outline" icon-on="ion-calendar" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/Account">
    <ion-nav-view name="tab-Account"></ion-nav-view>
  </ion-tab>
    
</ion-tabs>
